@font-face {
  font-family: 'Josefin Sans';
  src: url('../font/JosefinSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Josefin Sans';
  src: url('../font/JosefinSans-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%);
  --check-background: to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%);

  /* Light Theme */
  --very-light-gray: hsl(0, 0%, 98%);
  --very-light-grayish-blue: hsl(236, 33%, 92%);
  --light-grayish-blue: hsl(233, 11%, 84%);
  --dark-grayish-blue: hsl(236, 9%, 61%);
  --very-dark-grayish-blue: hsl(235, 19%, 35%);

  /* Dark Theme */
  --D_very-dark-blue: hsl(235, 21%, 11%);
  --D_very-dark-Desaturated-blue: hsl(235, 24%, 19%);
  --D_light-grayish-blue: hsl(234, 39%, 85%);
  --D_light-grayish-blue-hover: hsl(236, 33%, 92%); /* hover */
  --D_dark-grayish-blue: hsl(234, 11%, 52%);
  --D_very-dark-grayish-blue: hsl(233, 14%, 35%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}

.unchecked-circle {
  width: 2.3rem;
  height: 2.3rem;
  border: 2px var(--light-grayish-blue) solid;
  border-radius: 50%;
  transition: all 0.3s;
}

.tasks .unchecked-circle:hover {
  border: 2px hsl(280, 87%, 65%) solid;
}

.checked-circle {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-image: url('../images/icon-check.svg'),
    linear-gradient(var(--check-background));
  background-repeat: no-repeat;
  background-position: center;
}
