.bg--light,
.bg--dark {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: -1;
}

body {
  min-height: 100vh;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 40%;
  min-height: 80%;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  color: #fff;
  letter-spacing: 2rem;
}

.header__toggle-theme {
  cursor: pointer;
}

/* FORM */
.form {
  margin-top: 2.4rem;
  padding: 1.6rem 0;
  padding-left: 2rem;
  background: #fff;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}

.form__input {
  font-family: inherit;
  font-size: 1.6rem;
  width: 95%;
  height: 100%;
  border: 0;
  outline: 0;
  padding: 1rem 1.8rem;
  color: var(--very-dark-grayish-blue);
}

.form__input::placeholder {
  color: #888;
}

.hint {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
  text-align: center;
  margin-top: 4rem;
}
